<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-content>
  <ion-card>
    <ion-card-content>
      <p>dt: {{dt}}</p>
      <p>temperature :{{ temp }}</p>
      <p>country :{{ country }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
